<content data-show="intro">
	<div class="game-bg" data-bg="02">
		<canvas class="starfield"></canvas>
	</div>

	<div data-area="intro">
		<h1>Galactic<br/>Conquest</h1>
	</div>

	<div data-area="tutorial">
		<div class="step-1">
			<h2>Basic Gameplay</h2>
			<p>
				Click to select your planet.<br/>
				Indiciated by rotating blue dashed line.
			</p>
			<p>
				Then Choose a target. Click on or<br/>
				drag to the enemy planet.
			</p>
		</div>

		<div class="step-2">
			<h2>Production</h2>
			<p>
				The number on the planet is its fleet size.<br/>
				Large planets produce more ships.<br/>
				Gray planet are neutral.
			</p>
			<p>
				Take over the neutral planets so that you can<br/>
				produce enough ships to conquer the enemy.
			</p>
		</div>

		<div class="step-3">
			<h2>Advanced Controls</h2>
			<p>
				Select multiple planets by clicking<br/>
				them individually, or select all by double<br/>
				clicking one of them. 
			</p>
			<p>
				Change attack fleet size in the toolbar.
			</p>
			<p>
				Conquer the enemy to win!
			</p>
		</div>
	</div>

	<div data-context="game-options" data-dbl-click="select-all-planets" data-area="stage">
		<canvas class="game"></canvas>
	</div>

	<!-- for game won -->
	<div class="view-success" data-click="new-game" data-arg="classic">
		<div class="distort"></div>
		<h2>Nice job!</h2>
		<span>Click for another conquest</span>
		<div class="pyro">
			<div class="before"></div>
			<div class="after"></div>
		</div>
	</div>
</content>
