<content>
	<div data-area="tutorial">
		<div class="step-1">
			<h2>Basic Gameplay</h2>
			<p>
				Click to select your planet.<br/>
				Indiciated by rotating blue dashed line.
			</p>
			<p>
				Then Choose a target. Click on or<br/>
				drag to the enemy planet.
			</p>
		</div>

		<div class="step-2">
			<h2>Production</h2>
			<p>
				The number is ships on the planet.
			</p>
			<p>
				Large planets produce more ships.<br/>
				Gray planet are neutral.
			</p>
			<p>
				Take over the neutral planets so that you can<br/>
				produce enough ships to conquer the enemy.
			</p>
		</div>

		<div class="step-3">
			<h2>Advanced Controls</h2>
			<p>
				Select multiple planets by clicking them individually, or select all by double clicking one of them. 
			</p>
			<p>
				Click to % indicator to change your fleet size.
			</p>
			<p>
				Conquer the enemy to win!
			</p>
		</div>
	</div>
	<div data-context="game-options" data-dbl-click="select-all-planets" data-area="stage">
		<canvas></canvas>
	</div>
</content>
