<content>
	<div class="game-bg" data-bg="02">
		<canvas class="starfield"></canvas>
	</div>

	<div data-area="intro">
		<h1>Galactic<br/>Conquest</h1>

		<ul>
			<li data-click="start-tutorial">
				<i class="icon-tutorial"></i>
				Tutorial
			</li>
		</ul>

		<ul>
			<li data-click="new-game" data-arg="classic">
				<i class="icon-classic"></i>
				Classic
			</li>
			<li data-click="new-game" data-arg="stealth">
				<i class="icon-stealth"></i>
				Stealth
			</li>
			<li data-click="new-game" data-arg="3-way">
				<i class="icon-3-way"></i>
				3-way
			</li>
			<li data-click="new-game" data-arg="billiards">
				<i class="icon-billiards"></i>
				Billiards
			</li>
		</ul>
	</div>

	<div data-area="tutorial">
		<div class="step-1">
			<h2>Basic Gameplay</h2>
			<p>
				Click to select your planet.<br/>
				Indiciated by rotating blue dashed line.
			</p>
			<p>
				Then Choose a target. Click on or<br/>
				drag to the enemy planet.
			</p>
		</div>

		<div class="step-2">
			<h2>Production</h2>
			<p>
				The number on the planet is its fleet size.<br/>
				Large planets produce more ships.<br/>
				Gray planet are neutral.
			</p>
			<p>
				Take over the neutral planets so that you can<br/>
				produce enough ships to conquer the enemy.
			</p>
		</div>

		<div class="step-3">
			<h2>Advanced Controls</h2>
			<p>
				Select multiple planets by clicking<br/>
				them individually, or select all by double<br/>
				clicking one of them. 
			</p>
			<p>
				Change attack fleet size in the toolbar.
			</p>
			<p>
				Conquer the enemy to win!
			</p>
		</div>
	</div>

	<div data-context="game-options" data-dbl-click="select-all-planets" data-area="stage">
		<canvas class="game"></canvas>
	</div>

	<div data-area="game-dock">
		<ul class="dock">
			<li><i class="icon-menu"></i></li>
			<li><i class="icon-play"></i></li>
			<li><i class="icon-pause"></i></li>
			<li class="range-item">
				<span class="range"><span></span></span>
				<b class="attack-fleet">65%</b>
			</li>
			<li><i class="icon-music"></i></li>
			<li><i class="icon-sound-fx"></i></li>
			<li><i class="icon-fps"></i></li>
		</ul>
	</div>

	<!-- for getready -->
	<div class="view-get-ready" data-click="start-game">
		<h2>Get Ready</h2>
	</div>

	<!-- for game paused -->
	<div class="view-pause" data-click="resume-game">
		<h2>Paused</h2>
	</div>

	<!-- for game won / lost -->
	<div class="view-success" data-click="new-game" data-arg="classic">
		<div class="distort"></div>
		<div class="lost">
			<h2>Better luck next time</h2>
			<span>Click to try again</span>
		</div>
		<div class="won">
			<h2>Nice job!</h2>
			<span>Click for another conquest</span>
			<div class="pyro">
				<div class="before"></div>
				<div class="after"></div>
			</div>
		</div>
	</div>
</content>
