
background: #000;
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	line-height: 1.35;
	font-family: "Michroma", sans-serif;
	font-size: 20px;
	color: #aaa;

	&[data-show="intro"] {
		> div[data-area="intro"] {
			opacity: 1;
			visibility: visible;

			h1 {
				// animation: shine 7s infinite alternate;
			}
		}
	}

	&[data-show="tutorial"] {
		> div[data-area="tutorial"],
		> div[data-area="stage"] {
			opacity: 1;
			visibility: visible;
		}
	}

	&[data-show="stage"] {
		> div[data-area="stage"] {
			opacity: 1;
			visibility: visible;
		}
	}

	&.cover {
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 999;
		}
	}

	&.freeze {
		div[data-area="intro"] h1,
		.game-bg:before {
			animation-play-state: paused;
		}
	}

	&.failure {
		.view-success {
			opacity: 1;
			visibility: visible;

			.won { display: none; }

			h2 {
				color: #ccc;
			}
		}
	}

	&.get-ready {
		.view-get-ready {
			opacity: 1;
			visibility: visible;
		}
	}

	&.success {
		.view-success {
			opacity: 1;
			visibility: visible;

			.lost { display: none; }

			h2 {
				animation: textBounce 1000ms 3 ease-in-out,
							textColors 3500ms infinite;
			}

			.pyro {
				> .before,
				> .after {
					animation: 1s bang ease-out 5 backwards,
								1s gravity ease-in 5 backwards,
								4s position linear 5 backwards;
				}

				> .after {
					animation-delay: 1.25s, 1.25s, 1.25s;
					animation-duration: 1.25s, 1.25s, 6.25s;
				}
			}
		}
	}

	h1 {
		font-family: "Michroma", sans-serif;
		font-size: 52px;
		color: #fff;
		margin: 0 auto 11px;
	}

	h2 {
		font-size: 40px;
		color: #fff;
		margin: 0 auto 11px;
		text-shadow: 0 0 3px rgba(#fff,.35),
						0 0 11px rgba(#fff,.75);
	}

	h3 {
		font-size: 32px;
		color: #fff;
		margin: 0 auto 11px;
	}

	p {
		padding-bottom: 15px;
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	ul.menu {
		margin: 17px auto;
		display: block;
		list-style: none;
		color: #369;

		[class^="icon-"] {
			position: absolute;
			top: 7px;
			left: 19px;
			opacity: .5;
		}

		li {
			cursor: pointer;
			position: relative;
			padding: 5px 0;
			background: rgba(#024,.35);
			border: 3px solid rgba(#36f, .35);
			transition: all 100ms;

			&:first-child {
				border-top-left-radius: 11px;
				border-top-right-radius: 11px;
			}
			
			&:last-child {
				border-bottom-left-radius: 11px;
				border-bottom-right-radius: 11px;
			}

			&:not(:first-child) {
				border-top: 0;
			}

			&:not(:first-child):before {
				content: "";
				position: absolute;
				top: -3px;
				left: -3px;
				right: -3px;
				height: 1px;
				border: inherit;
				border-left: 0;
				border-right: 0;
				opacity: 0;
			}

			&:hover {
				border-color: rgba(#69f, .65);
				color: #fff;

				[class^="icon-"] {
					opacity: 1;
				}

				&:not(:first-child):before {
					opacity: 1;
				}
			}
		}
	}

	[class^="icon-"] {
		vertical-align: top;
		position: relative;
		display: inline-block;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: contain;
		width: 23px;
		height: 23px;
		opacity: .75;

		&.icon-tutorial { background-image: url(~/icons/icon-tutorial.png); }
		&.icon-classic { background-image: url(~/icons/icon-classic.png); }
		&.icon-stealth { background-image: url(~/icons/icon-stealth.png); }
		&.icon-3-way { background-image: url(~/icons/icon-3-way.png); }
		&.icon-billiards { background-image: url(~/icons/icon-billiards.png); }

		&.icon-menu { background-image: url(~/icons/icon-menu.png); left: 1px; }
		&.icon-play { background-image: url(~/icons/icon-play.png); }
		&.icon-pause { background-image: url(~/icons/icon-pause.png); }
		&.icon-sound-fx { background-image: url(~/icons/icon-sound-fx.png); }
		&.icon-music { background-image: url(~/icons/icon-music.png); }
		&.icon-fps { background-image: url(~/icons/icon-fps.png); }
	}

	> div {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		border-radius: inherit;

		&.game-bg {
			z-index: 1;
			opacity: 1;
			visibility: visible;
			overflow: hidden;

			&:before {
				content: "";
				position: absolute;
				top: -300px;
				left: -150px;
				width: 1100px;
				height: 1100px;
				background: 50% 50%/contain no-repeat;
				animation: rotate_bg_ccw 1080s linear infinite;
			}
			
			&[data-bg="01"]:before { background-image: url(~/img/bg-01.jpg); }
			&[data-bg="02"]:before { background-image: url(~/img/bg-02.jpg); }
			&[data-bg="03"]:before { background-image: url(~/img/bg-03.jpg); }
			&[data-bg="04"]:before { background-image: url(~/img/bg-04.jpg); }
			&[data-bg="06"]:before { background-image: url(~/img/bg-06.jpg); }
		}

		&[data-area="dock"] {
			// top: auto;
			z-index: 3;
			opacity: 1;
			visibility: visible;
			overflow: hidden;
			pointer-events: none;

			ul.dock {
				// background: rgba(#36f, .35);
				position: absolute;
				bottom: 7px;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				list-style: none;
				font-size: 0;
				border: 3px solid rgba(#36f, .35);
				border-radius: 11px;
				pointer-events: all;
				transition: bottom 150ms ease-in-out;

				&.autohide {
					bottom: -41px;

					&:hover {
						bottom: 7px;
					}
				}

				&:before {
					content: "";
					position: absolute;
					top: -21px;
					left: 0;
					right: 0;
					height: 21px;
				}

				&:after {
					content: "";
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					height: 20px;
				}

				[class^="icon-"] {
					opacity: .5;
				}

				li {
					position: relative;
					height: 35px;
					display: inline-block;
					padding: 6px 7px 0 7px;
					vertical-align: middle;

					&:first-child {
						border-radius: 11px 0 0 11px;
					}
					
					&:last-child {
						border-radius: 0 11px 11px 0;
					}

					&:not(:first-child) {
						border-left: 3px solid rgba(#36f, .35);
					}

					&.disabled {
						[class^="icon-"] {
							// filter: grayscale(1);
							opacity: .2;
						}
					}

					&.active,
					&:hover:not(.disabled) {
						&:before {
							content: "";
							position: absolute;
							top: -3px;
							left: -3px;
							right: -3px;
							bottom: -3px;
							border: 3px solid rgba(#36f, .65);
							border-radius: inherit;
						}

						[class^="icon-"] {
							opacity: 1;
						}
					}

					&.range-item {
						width: 160px;
						padding: 0;

						&.disabled {
							.attack-fleet {
								opacity: 0;
								visibility: hidden;
							}

							.range {
								opacity: .35;
							}
						}

						.attack-fleet {
							position: absolute;
							top: -31px;
							left: 0;
							right: 0;
							text-align: center;
							line-height: 1;
							font-size: 24px;
							font-family: "Lucida Console";
							color: #369;
							pointer-events: none;
						}

						.range {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							cursor: pointer;

							&:before {
								content: "";
								position: absolute;
								top: 16px;
								left: 7px;
								right: 7px;
								height: 4px;
								background: #249;
							}

							span {
								position: absolute;
								top: 7px;
								bottom: 7px;
								left: 85px;
								background: #249;
								width: 15px;
								border-radius: 5px;
								box-shadow: 0 0 0 1px rgba(#000,.5);
								pointer-events: none;
							}
						}
					}
				}
			}
		}

		&[data-area="intro"] {
			padding: 31px 73px;
			text-align: center;

			h1 {
				position: relative;
				width: 400px;
				margin-bottom: 43px;
				line-height: 1;
				letter-spacing: 3px;
				color: rgba(#aaf,.1);
				text-shadow: 0 0 2px rgba(#eef,.25);
				background: #000 -webkit-gradient(linear, left top, left bottom, from(#000), to(#000),
					color-stop(0.0, #004),
					color-stop(0.05, #004),
					color-stop(0.125, #bbf),
					color-stop(0.125, #004),
					color-stop(0.20, #ddf),
					color-stop(0.20, #115),
					color-stop(0.30, #eef),
					color-stop(0.30, #226),
					color-stop(0.425, #eef),
					color-stop(0.425, #226),
					color-stop(0.5, #eef),
					color-stop(0.575, #226),
					color-stop(0.575, #eef),
					color-stop(0.70, #226),
					color-stop(0.70, #eef),
					color-stop(0.80, #115),
					color-stop(0.80, #ddf),
					color-stop(0.875, #004),
					color-stop(0.875, #bbf),
					color-stop(0.95, #004),
					color-stop(1.0, #004)
				) 0 0;
				-webkit-background-size: 160px;
				-webkit-background-clip: text;

				&:before {
					content: "Galactic Conquest";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: -1;
					font: inherit;
					text-shadow: 0 0 3px rgba(#eef,.2),
								0 0 7px rgba(#eef,.5);
				}
			}

			ul {
				width: 220px;
			}
		}

		&[data-area="tutorial"] {
			min-height: 0;
			transition: min-height 400ms;

			&.switch-fade {
				min-height: 1px;
			}
			
			> div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 53px 73px;
				opacity: 0;
				visibility: hidden;
				text-align: center;
				pointer-events: none;
				transition: opacity 350ms ease-in-out;
			}

			&.show-step-1 {
				&.switch-fade {
					.step-1 {
						opacity: 0;
					}

					.step-2 {
						opacity: 1;
						visibility: visible;
						transition-delay: 400ms;
					}
				}

				.step-1 {
					opacity: 1;
					visibility: visible;
				}

				.step-2,
				.step-3 { opacity: 0; }
			}

			&.show-step-2 {
				&.switch-fade {
					.step-2 {
						opacity: 0;
					}

					.step-3 {
						opacity: 1;
						visibility: visible;
						transition-delay: 400ms;
					}
				}

				.step-2 {
					opacity: 1;
					visibility: visible;
				}

				.step-1,
				.step-3 { opacity: 0; }
			}

			&.show-step-3 {
				&.switch-fade {
					.step-3 {
						opacity: 0;
					}
				}

				.step-3 {
					opacity: 1;
					visibility: visible;
				}

				.step-1,
				.step-2 { opacity: 0; }
			}
		}

		&[data-area="stage"] {
			transition: opacity 500ms ease-in-out;

			&.fadeout {
				opacity: 0;
			}

			&.fadein {
				opacity: 1;
			}

			.planet {
				position: absolute;
				box-shadow: inset -3px -1px 3px rgba(#fff,.1);
				border-radius: 50%;

				&.human {
					cursor: pointer;
				}
				&.ai {}
				&.neutral {}
			}
		}

		&.view-get-ready,
		&.view-pause {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			overflow: hidden;
			padding-top: 21%;

			h2 {
				position: relative;
				left: 0;
				right: 0;
			}

			ul.menu {
				width: 140px;
			}
		}

		&.view-pause {
			&:before {
				content: "";
				position: absolute;
				top: -5px;
				left: -5px;
				right: -5px;
				bottom: -5px;
				background: rgba(#000,.35);
				backdrop-filter: blur(2px);
				filter: url(#galcon-noise);
			}
		}

		&.view-success {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 99;
			transition: opacity 300ms ease-in-out 100ms;
			perspective: 100px;

			.distort {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(#000,.35);
					backdrop-filter: blur(2px);
					filter: url(#galcon-noise);
				}
			}

			h2 {
				position: absolute;
				top: 35%;
				width: 100%;
				text-align: center;
				text-shadow: 0 4px 1px rgba(#000,.35); 
				transform: translateZ(0);
			}

			span {
				position: absolute;
				top: 47%;
				width: 100%;
				text-align: center;
				font-size: 24px;
			}

			.pyro {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				z-index: 100;

				> .before,
				> .after {
					position: absolute;
					width: 4px;
					height: 4px;
					border-radius: 50%;
					.pyroShadowLoop(50);
				}
			}
		}
	}
}

// animations
@keyframes rotate_bg_cw {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes rotate_bg_ccw {
	0%   { transform: rotate(360deg); }
	100% { transform: rotate(0deg); }
}


.pyroShadowLoop(@count) when (@count > 0) {
	.pyroShadowLoop(@count - 1);
	box-shadow+: 0 0 #fff;
}

// copied from: https://codepen.io/yshlin/pen/ylDEk
@keyframes bang {
	to {
		box-shadow: -195px -358.6666666667px #ff3300,
					-188px 74.3333333333px #9dff00,
					86px -174.6666666667px #ff001e,
					-70px -41.6666666667px #7b00ff,
					199px -331.6666666667px #ff00d5,
					-70px -103.6666666667px #c4ff00,
					4px -387.6666666667px #00eeff,
					-61px -229.6666666667px #ff002f,
					112px -146.6666666667px #00ffdd,
					187px 67.3333333333px #ff00b7,
					-50px -396.6666666667px #5500ff,
					177px -356.6666666667px #00eeff,
					-165px -120.6666666667px #ff00b3,
					151px 37.3333333333px #ff007b,
					17px -32.6666666667px #00ff26,
					215px -115.6666666667px #8cff00,
					-139px -41.6666666667px #77ff00,
					-84px -100.6666666667px #ff009d,
					-90px -130.6666666667px #91ff00,
					-100px -343.6666666667px #2600ff,
					222px -415.6666666667px #9900ff,
					-102px -216.6666666667px #ff0051,
					-135px -414.6666666667px #00ff1e,
					-130px -80.6666666667px #00ff73,
					-83px -50.6666666667px #0d00ff,
					149px -135.6666666667px #002bff,
					-174px -307.6666666667px #004dff,
					-155px -252.6666666667px #00ffb3,
					28px -402.6666666667px #ffd000,
					-150px -236.6666666667px #00ffd9,
					249px -164.6666666667px #ff0004,
					49px -94.6666666667px #1aff00,
					-216px -98.6666666667px #00ff77,
					-101px -147.6666666667px #2200ff,
					240px 1.3333333333px #00ffea,
					-55px -139.6666666667px #ff5900,
					-120px 1.3333333333px #ff8800,
					75px -265.6666666667px #00ffbb,
					204px -4.6666666667px #ff00ea,
					-76px -108.6666666667px #0044ff,
					-180px -48.6666666667px #ff5500,
					-129px -367.6666666667px #8000ff,
					-19px -189.6666666667px #91ff00,
					210px -100.6666666667px #ffc400,
					-71px -170.6666666667px #00ff33,
					-155px -117.6666666667px #0091ff,
					66px -259.6666666667px #00ff9d,
					98px -3.6666666667px #0026ff,
					-143px -128.6666666667px #0dff00,
					127px -47.6666666667px #00b3ff,
					79px -216.6666666667px #ff00d9;
	}
}

@keyframes gravity {
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}

@keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}

@keyframes textBounce {
	0%, 20%, 50%, 80%, 100% { transform: translateZ(0); }
	45% { transform: translateZ(-30px); }
	60% { transform: translateZ(-15px); }
}

@keyframes textColors {
	100%, 0% { color: #ffb; }
	20% { color: #fbf; }
	40% { color: #bff; }
	60% { color: #bbf; }
	80% { color: #bfb; }
}

@keyframes shine {
	0%   { background-position: 0 px; }
	100% { background-position: 0 160px; }
}


/* latin */
@font-face {
	font-family: "Michroma";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/Michroma.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

