
background: transparent;
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;

	div[data-area="stage"] {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		
		&:before {
			content: "";
			position: absolute;
			top: -200px;
			left: -200px;
			width: 1200px;
			height: 1200px;
			background: url(~/img/bg-06.jpg) 50% 50%/contain no-repeat;
			animation: rotate_bg 1080s linear infinite;
		}

		canvas {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.planet-disc {
			position: absolute;
			box-shadow: inset -3px -1px 3px rgba(#fff,.1);
			border-radius: 50%;

			&.mine {
				cursor: pointer;
			}
			&.enemy {}
			&.neutral {}
		}
	}
}

// animations
@keyframes rotate_bg {
	0%   { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
