
background: transparent;
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: inherit;
	background: url(~/img/bg-01.jpg) 50% 50% no-repeat;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.planet-outline {
		position: absolute;
		border: 2px solid transparent;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			border-color: yellow;
		}
	}
}
